<.header>
  New Pirate
  <:subtitle>Use this form to manage pirate records in your database.</:subtitle>
</.header>

<.pirate_form changeset={@changeset} action={~p"/pirates"} />

<.back navigate={~p"/pirates"}>Back to pirates</.back>
